/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  } */
  
  .container {
    display: flex;
    justify-content: center;
    height:100vh;
     width:100%;
    /* background-size: cover; */
    position: relative;
    margin-top: -80px;
    margin-left: 10px;

  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: -180px;
  }
  
  .signup-box {

    padding: 20px;
    
    text-align: center;
    max-width: 440px;
    width: auto;
    margin-top: 120px;
  
  }
  
  .signup-box p {
    margin-bottom: 20px;
  }
  
  .social-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* background-color: #f8f9fa; */
  }
  
  .social-btn .icon {
    margin-right: 10px;
  }
  
  .divider {
    margin: 20px 0;
    position: relative;
    text-align: center;
  }
  
  .divider::before, .divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    /* background: #ccc; */
  }
  
  .divider::before {
    left: 0;
  }
  
  .divider::after {
    right: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color:white;
    color: black;
    border: 5px line black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: rgb(22 163 74);;
 
  }
  